<% require 'loofah' %>
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Planet Gentoo</title>
  <meta name="theme-color" content="#54487a">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Planet Gentoo">
  <meta property="og:image" content="https://www.gentoo.org/assets/img/logo/gentoo-g.png">
  <meta name="twitter:image" content="https://www.gentoo.org/assets/img/logo/gentoo-g.png">
  <link rel="apple-touch-icon" href="https://www.gentoo.org/assets/img/logo/icon-192.png">
  <link rel="icon" sizes="192x192" href="https://www.gentoo.org/assets/img/logo/icon-192.png">

  <%= stylesheet_link_tag 'tyrian/tyrian.min' %>
  <%= stylesheet_link_tag 'tyrian/components/searchbars.min' %>
  <%= stylesheet_link_tag 'tyrian/planet-tyrian' %>
  <%= stylesheet_link_tag 'tyrian/components/bootstrap-datepicker.standalone' %>

  <link rel="icon" href="https://planet.gentoo.org/favicon.ico" type="image/x-icon">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/www-gentoo-org.xml" title="Gentoo Website">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/forums-gentoo-org.xml" title="Gentoo Forums">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/bugs-gentoo-org.xml" title="Gentoo Bugzilla">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/packages-gentoo-org.xml" title="Gentoo Packages">
  <link rel="search" type="application/opensearchdescription+xml" href="https://www.gentoo.org/search/archives-gentoo-org.xml" title="Gentoo List Archives">
  <link rel="alternate" type="application/rss+xml" title="Planet Gentoo" href="https://planet.gentoo.org/universe/rss20.xml">
  <link rel="alternate" type="application/atom+xml" title="Planet Gentoo" href="https://planet.gentoo.org/universe/atom.xml">


</head>
<body>

<header>
  <div class="site-title">
    <div class="container">
      <div class="row justify-content-between">
        <div class="logo">
          <a href="/" title="Back to the homepage" class="site-logo">
            <img src="tyrian/site-logo.png" alt="Gentoo" srcset="tyrian/site-logo.svg">
          </a>
          <span class="site-label">Planet</span>
        </div>
        <div class="site-title-buttons">
          <div class="btn-group btn-group-sm">
            <a href="https://get.gentoo.org/" role="button" class="btn get-gentoo"><span class="fa fa-fw fa-download"></span>
              <strong>Get Gentoo!</strong></a>
            <div class="btn-group btn-group-sm">
              <a class="btn gentoo-org-sites dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                <span class="fa fa-fw fa-map-o"></span> <span class="d-none d-sm-inline">gentoo.org sites</span>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="https://www.gentoo.org/" title="Main Gentoo website"><span class="fa fa-home fa-fw"></span>
                  gentoo.org</a>
                <a class="dropdown-item" href="https://wiki.gentoo.org/" title="Find and contribute documentation"><span class="fa fa-file-text-o fa-fw"></span>
                  Wiki</a>
                <a class="dropdown-item" href="https://bugs.gentoo.org/" title="Report issues and find common issues"><span class="fa fa-bug fa-fw"></span>
                  Bugs</a>
                <a class="dropdown-item" href="https://forums.gentoo.org/" title="Discuss with the community"><span class="fa fa-comments-o fa-fw"></span>
                  Forums</a>
                <a class="dropdown-item" href="https://packages.gentoo.org/" title="Find software for your Gentoo"><span class="fa fa-hdd-o fa-fw"></span>
                  Packages</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://planet.gentoo.org/" title="Find out what's going on in the developer community"><span class="fa fa-rss fa-fw"></span>
                  Planet</a>
                <a class="dropdown-item" href="https://archives.gentoo.org/" title="Read up on past discussions"><span class="fa fa-archive fa-fw"></span>
                  Archives</a>
                <a class="dropdown-item" href="https://sources.gentoo.org/" title="Browse our source code"><span class="fa fa-code fa-fw"></span>
                  Sources</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://infra-status.gentoo.org/" title="Get updates on the services provided by Gentoo"><span class="fa fa-server fa-fw"></span>
                  Infra Status</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="tyrian-navbar navbar navbar-dark navbar-expand-lg bg-primary" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-main-collapse" id="navbar-main-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="search.html">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="contributors.html">Contributors</a></li>
        </ul>

        <form class="form-inline inlinesearch mr-2" role="search" action="search.html" method="get">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input class="form-control" type="text" name="q" type="text" placeholder="Quicksearch" aria-label="Find Packages">
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container mb-4">
  <div class="row">

    <div id="greeter" class="col-md-9">

      <div class="page-header mb-1" style="border-bottom: none!important;padding-bottom: 10px!important;margin-top:0px!important;">
        <h1>Welcome to Planet Gentoo, <br>
          <small class="text-muted"> an aggregation of Gentoo-related weblog articles written by Gentoo developers.<br>
            For a broader range of topics, you might be interested in Gentoo Universe.</small></h1>
      </div>

    </div>

    <div class="col-md-3"></div>
  </div>


  <div class="row">

    <div id="content" class="col-md-9">

      <%
        items = site.items.latest.limit(50)
        ItemCursor.new(items).each do |item, new_date, new_feed|
      %>

        <% if new_date %>
          <div class="page-header article-view mt-5" data-date="<%= item.published.strftime('%Y-%m-%d') %>" data-location="<%= item.feed.location %>" style="border-bottom: none!important;padding-bottom: 0px!important;">
            <h1><%= item.published.strftime('%B %d') %>
              <small class="text-muted"><%= item.published.strftime('%Y') %> </small></h1>
          </div>
        <% end %>

        <div class="row short-view d-none" data-date="<%= item.published.strftime('%Y-%m-%d') %>" data-location="<%= item.feed.location %>" style="margin-bottom:35px;">
          <div class="col-sm-2 pr-1">
            <img class="float-right" src="https://www.gravatar.com/avatar/<%= item.feed.avatar %>?s=200&d=http%3A%2F%2Fplanet.gentoo.org%2Fimages%2Flarrythecow.gif" style="width:75%;border-radius: 6px;margin-top:5px;"/>
          </div>
          <div class="col-sm-9">
            <div class="card" style="cursor:pointer;">
              <div class="card-body">
                <div class="mb-1"><h3 style="font-size:1.1rem;font-weight:700;margin-bottom:4px;"><%= item.title %></h3>
                </div>
                <div class="mb-1 text-muted" style="">
                  <span style="margin-right:2px;">
                    <%= item.feed.title %> (<%= item.feed.key %>)
                  </span>
                  <span style="">•</span>
                  <span style="font-weight: normal;margin-left:2px;">
                      <%= item.published.strftime('%B %d, %Y, %k:%M') %>
                  </span>
                </div>
                <div class="text-muted" style="height:63px;overflow-y: hidden;">
                  <% if item.content %>
                    <%= textify(item.content) %>
                  <% elsif item.summary %>
                    <%= textify(item.summary) %>
                  <% else %>
                    -/-
                  <% end %>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <div class="row">
          <div class="col-sm-11">
            <div class="card article-view mt-2" data-date="<%= item.published.strftime('%Y-%m-%d') %>" data-location="<%= item.feed.location %>" style="margin-top:20px;">
              <div class="card-body px-5">
                <div class="row mb-3 mt-3">
                  <div class="col-sm-11">
                    <div class="row">
                      <div class="col-sm-1" style="">
                        <img src="https://www.gravatar.com/avatar/<%= item.feed.avatar %>" style="width:40px;border-radius: 6px;margin-top:5px;"/>
                      </div>
                      <div class="col-sm-11" style="padding-left:0px;">
                        <div class="col-sm-12" style="margin-bottom:1px;padding-left:15px;">
                        <span style="color:#000!important;">
                          <b><span class="vcard"><a href="<%= item.url %>"> <span class="fn" style="color:#000!important;font-size:16px;"><%= item.title %> </span></a></span></b>
                        </span>
                        </div>
                        <div class="col-sm-12" style="padding-left:15px;">
                          <span style="margin-right:2px;">
                            <a style="color:#505050; font-weight: normal;" href="#c0"> <%= item.feed.title %> (<%= item.feed.key %>
                              )</a>
                          </span>
                          <span style="color:#505050;">•</span>
                          <span style="color:#505050; font-weight: normal;margin-left:2px;">
                            <%= item.published.strftime('%B %d, %Y, %k:%M') %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="row">
                      <div class="col-sm-12" style="text-align: right;">
                        <span>
                          <a href="<%= item.feed.url %>" class="btn btn-default btn-xs" style="background:transparent;color:#505050;border:none;"><i class="fa fa-lg fa-home" aria-hidden="true"></i></a>
                        </span>
                      </div>
                      <div class="col-sm-12" style="text-align: right;">
                        <span class="" style="color:#505050!important;">  </span>
                      </div>
                    </div>
                  </div>
                </div>

                <% if item.content %>
                  <%= Loofah.fragment(item.content).scrub!(:prune).to_s %>
                <% elsif item.summary %>
                  <%= Loofah.fragment(item.summary).scrub!(:prune).to_s %>
                <% else %>
                  -/-
                <% end %>

                <!-- end box -->
              </div>
            </div>

          </div>
        </div>

        <% end %><!-- each item -->


    </div>

    <div class="col-md-3">
      <div class="" style=" position: -webkit-sticky;position: sticky;top: 100px;">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-muted" style="font-size:0.9rem;font-weight:bold;">VIEW</div>
          </div>
          <div class="col-sm-12 mb-3">

            <div class="ml-2">
              <input onchange="updateView();" type="radio" class="d-none" id="article-view" name="view" value="article" checked>
              <label for="article-view" class="mb-1">
                <i class="fa fa-fw fa-newspaper"></i>&nbsp;<span>Article view</span>
              </label>
              <br/>
              <input onchange="updateView();" type="radio" class="d-none" id="headline-view" name="view" value="headline">
              <label for="headline-view">
                <i class="fa fa-fw fa-newspaper"></i>&nbsp;<span>Headline view</span>
              </label>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="text-muted" style="font-size:0.9rem;font-weight:bold;">SCOPE</div>
          </div>
          <div class="col-sm-12 mb-3">

            <div class="ml-2">
              <input onchange="updateView();" type="radio" class="d-none" id="planet-scope" name="fa-circle" value="View Planet" checked>
              <label for="planet-scope" class="mb-1">
                <i class="fa fa-fw fa-circle"></i>&nbsp;<span>View Planet</span>
              </label>
              <br/>
              <input onchange="updateView();" type="radio" class="d-none" id="universe-scope" name="fa-circle" value="View Universe">
              <label for="universe-scope">
                <i class="fa fa-fw fa-circle"></i>&nbsp;<span>View Universe</span>
              </label>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="text-muted" style="font-size:0.9rem;font-weight:bold;">FILTER</div>
          </div>
          <div class="col-sm-12">
            <div class="input-daterange ml-2 mt-1" id="datepicker">

              <div class="input-group input-group-sm mb-0">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm" style="border:none; background-color: #FAFAFA;padding-left:0px;"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;from</span>
                </div>
                <input onchange="updateArticles();" id="start" type="text" class="form-control" name="start" placeholder="start date" style="text-align:left; border:none;max-width: 150px;background-color: #FAFAFA;"/>
              </div>

              <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm" style="border:none; background-color: #FAFAFA;padding-left:0px;"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <input onchange="updateArticles();" id="end" type="text" class="form-control" name="end" placeholder="end date" style="text-align:left; border:none;max-width: 150px;background-color: #FAFAFA;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-7">
        <h3 class="footerhead">Gentoo Planet</h3>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <strong>Last
              Updated:</strong><br><span class="kk-i18n-date" title="<%= site.updated %>"><%= site.updated %></span>
          </div>
          <div class="col-xs-12 col-md-4">
            <strong>Powered by:</strong><br><%= link_to 'Powered by Pluto', 'https://github.com/feedreader' %>
          </div>
          <div class="col-xs-12 col-md-4">
            <!--
            TBD
            -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <h3 class="footerhead">Questions or comments?</h3>
        Please feel free to <a href="https://wiki.gentoo.org/wiki/Project:Planet">contact us</a>.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <ul class="footerlinks three-icons">
          <li>
            <a href="https://twitter.com/gentoo" title="@Gentoo on Twitter"><span class="fa fa-twitter fa-fw"></span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/gentoo.org" title="Gentoo on Facebook"><span class="fa fa-facebook fa-fw"></span></a>
          </li>
          <li></li>
        </ul>
        <div>
          <div class="sitemap text-center">
            <a href="https://wiki.gentoo.org/wiki/Foundation:Privacy_Policy">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="col-xs-9 col-md-9">
        <strong>© 2001–2020 Gentoo Foundation, Inc.</strong><br>
        <small>
          Gentoo is a trademark of the Gentoo Foundation, Inc.
          The contents of this document, unless otherwise expressly stated, are licensed under the
          <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license">CC-BY-SA-4.0</a> license.
          The
          <a href="https://www.gentoo.org/inside-gentoo/foundation/name-logo-guidelines.html">Gentoo Name and Logo Usage
            Guidelines</a> apply.
        </small>
      </div>
    </div>
  </div>
</footer>
<script src="tyrian/jquery-3.3.slim.js"></script>
<script src="tyrian/popper.min.js"></script>
<script src="tyrian/bootstrap.min.js"></script>
<script src="tyrian/components/bootstrap-datepicker.min.js"></script>
<script src="tyrian/planet-tyrian.js"></script>


</body>
</html>
